<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h2> <span class="text-success"><i class="fa-solid fa-user-pen"></i></span> &nbsp; update-contact page </h2>
            <p class="mt-4" style="text-align: justify;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum aspernatur pariatur nobis ut magnam
                autem, rem reprehenderit laudantium, neque ducimus id assumenda consectetur aut possimus. Dicta debitis
                et eum. Debitis?
                Possimus nulla doloribus ab error corporis distinctio provident, magnam, tempore asperiores alias, magni
                dolor. Illum, atque autem. Saepe, eos eveniet obcaecati inventore aperiam necessitatibus aliquid
                corporis, beatae odit quis id!
            </p>
        </div>
        <!-- <pre>
            {{contact | json}}
        </pre> -->
        <div class="container mt-2">
            <div class="row">
                <div class="col-lg-8">
                    <!--contact form-->
                    <form class="border p-3 rounded mb-5">
                        <!--id-->
                        <div class="mb-2">
                            <input type="text" name="id" [(ngModel)]="contact.id" placeholder="Contact ID" class="form-control">
                        </div>
                        <div class="mb-2">
                            <input type="text" name="Name" [(ngModel)]="contact.name" placeholder="Contact Name" class="form-control">
                        </div>
                        <div class="mb-2">
                            <input type="text" name="photo" [(ngModel)]="contact.photo" placeholder="Contact image" class="form-control">
                        </div>
                        <div class="mb-2">
                            <input type="text" name="email" [(ngModel)]="contact.email" placeholder="Contact Email" class="form-control">
                        </div>
                        <div class="mb-2">
                            <input type="text" name="mobile" [(ngModel)]="contact.mobile" placeholder="Contact Mobile" class="form-control">
                        </div>
                        <div class="mb-2">
                            <input type="text" name="company" [(ngModel)]="contact.company" placeholder="Contact Company Name" class="form-control">
                        </div>
                        <div class="mb-2">
                            <select name="groupId"  [(ngModel)]="contact.groupId"  class="form-control">
                                <option selected hidden disabled>{{groupName}}</option>
                                <option [value]="group.id" *ngFor="let group of groups">{{group.name}}</option>
                              
                            </select>
                        </div>

                        <div>
                            <input (click)="editContact(contact)" type="button" value="update" class="btn btn-primary">

                            <a routerLink="" class="btn btn-warning ms-3" >close</a>&nbsp;

                        </div>

                    </form>
                </div>
                <div class="col-lg-4 mt-5">
                    <img height="170px" [src]="contact.photo" alt="image">

                </div>
            </div>
        </div>
    </div>
</div>